*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contact-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.row{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    padding: 50px;
    background-color: rgb(169, 215, 233);
    /* grid-template-columns: repeat(auto-fit,minmax(1,3fr)); */
    
    
}
#column1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border: 1px solid black;
    margin:20px;
    padding: 31px;
    background-color: white;
    height: 450px;
    width: 350px;
   
}
.column2{
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    width: 350px;   
}

#column3{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    margin: 20px; 
}
.map{
    margin: 20px;
   
}
#button{
  
  align-self: center;
  
}
#send{
    background-color: yellow;
    width: 60px;
    height: 30px;
    border-radius: 5px;

}

#send:hover{
    background-color:green;
}

.input{
height: 45px;
width: 80%;
border-radius:10px;
}
.input2{
height: 90px;
width: 80%;
border-radius:10px;
color: black;
}

label{
font-weight: bolder;
}

i{
font-weight: bolder;
padding: 3px;
size: 20px;

}

.social{
display: flex;
justify-content: space-between;
margin: 20px;

}
#facebook:hover{
color: white;
background-color: black;
}
#instagram:hover{
color: white;
background-color: black;
}
#twitter:hover{
color: white;
background-color: black;
}
.whatsapp{
    display: flex;
    justify-content: center;
   

}
.whatsapp a{
    text-decoration: none;
    font-size: 30px;

}
/* .column{
    float: left;
    width: 33.33%;
    padding: 10px;
    clear: both;


} */



/* @media screen and (min-width: 600px) {
    .row{
      width: 100%;
    }
  } */
  

/* @media screen and (max-width:992px){
    .column{
        width:50%;
       
    }

} */

/* @media screen and (max-width:60px) {
    .column{
        width: 100%;
    }

} */
@media screen and (min-width:250px) and (max-width:820px){
    .row{
        grid-template-columns: repeat(1,3fr);
    }

}
@media screen and (min-width:820px) and (max-width:920px){
    .row{
        grid-template-columns: repeat(2,2fr);
    }

}
@media screen and (min-width:920px) and (max-width:1050px){
    .row{
        grid-template-columns: repeat(3,1fr);
    }

}