* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "sans-serif";
  }
  
  body {
    scroll-behavior: smooth;
  }
  
  .headertop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    padding: 40px 50px 20px 10px;
  }
  
  .headertop .logo {
    margin-left: 70px;
    font-size: 30px;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .navlinks li::after {
    content: "";
    display: block;
    margin: auto;
    height: 5px;
    background-color: #fdd100;
    font-weight: 800;
    width: 0%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .navlinks li:hover::after {
    width: 100%;
  }
  
  .menu li a {
    font-size: 10px;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    text-transform: capitalize;
    margin: 7px;
  }
  
  .search {
    font-size: 25px;
    margin-right: 50px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .menu li i {
    font-size: 10px;
    padding: 5px;
    margin-right: 50px;
  }
  
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .btn a {
    width: 150px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border: unset;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    padding: 15px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .header {
    height: 550px;
    min-height: 550px;
    background-color: #e1f3fd;
    border-bottom-left-radius: 70px;
  }
  
  .carimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .textbutdiv {
    margin-left: 30px;
    margin-top: 35px;
  }
  
  .textbutdiv p {
    font-size: 20px;
  }
  
  .textimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
    padding: 20px 0;
  }
  
  .building {
    font-size: 50px;
    font-weight: 600;
  }
  
  .home {
    color: gold !important;
  }
  
  .angleleft {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fdd100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
  .angleright {
    height: 50px;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    background-color: #fdd100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
    margin-left: 10px;
    font-size: 30px;
  }
  
  .angles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 0 0 60px;
  }
  
  .textbutdiv p {
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 50px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .button1:hover {
    background-color: #000;
    color: #fff;
  }
  
  .belowservicetxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .meetinglines {
    height: 7px;
    width: 100px;
    font-weight: 900;
    background-color: #e1f3fd;
  }
  
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-top: 7rem;
  }
  
  .meetinglines2 {
    height: 2px;
    width: 70px;
    background-color: #fdd100;
  }
  
  .lines {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  
  .pngtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container {
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    height: 170px;
    border-bottom: 10px solid #fdd100;
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
    margin: 20px;
  }
  
  .container p {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .pngtext h4 {
    margin-left: 7px;
  }
  
  .maincontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  
  .button2 {
    width: 150px;
    height: 40px;
    background-color: #fdd100;
    color: #fff;
    border: unset;
    border-radius: 5px;
    margin-left: 100px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .button2:hover {
    background-color: #000;
    color: #fff;
  }
  
  .butbut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px 150px 0 150px;
  }
  
  .butbut button2 {
    padding: auto;
  }
  
  .ban {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10pc;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .company {
    margin: 30px 0 0 0;
  }
  
  .button11:hover {
    background-color: #000;
    color: #fff;
  }
  
  .engineers {
    height: 300px;
    margin-left: 30px;
  }
  
  .gold {
    height: 7px;
    width: 70px;
    background-color: #fdd100;
  }
  
  .tom {
    width: 150px;
    height: 40px;
    background-color: #fdd100;
    color: #fff;
    border: unset;
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
    text-align: center;
    margin-top: 40px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .tomm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    height: 5px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .tom:hover {
    background-color: #000;
    color: #fff;
  }
  
  .archi {
    color: #fdd100;
    margin-top: 20px;
  }
  
  .sandy {
    margin-top: 20px;
  }
  
  .sandydiv {
    text-align: center;
  }
  
  .div {
    margin-right: 35px;
  }
  
  .allimgtxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  
  .texthead {
    padding-top: 30px 0 0 0;
  }
  
  .roundimg {
    border: 10px solid black;
    border-radius: 50%;
    margin-left: 30px;
  }
  
  .leftface {
    margin: 0 40px 70px 0;
  }
  
  .john {
    text-align: center;
  }
  
  .due {
    margin: 20px 70px 0 0;
  }
  
  .project {
    margin: 4px 70px 0 0;
    color: #fdd100;
    font-size: 13px;
  }
  
  .rectangle {
    width: 400px;
    height: 90px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .blue {
    background-color: #e1f3fd;
    height: 450px;
  }
  
  .flexer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mmm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    padding-top: 30px 0 0 0 !important;
  }
  
  .circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fdd100;
    margin: 0 10px 0 0;
  }
  
  .circle3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 0 0 10px;
  }
  
  .circle2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000;
  }
  
  .cycles {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .ipsum {
    margin: 20px 60px 0 0;
  }
  
  .input {
    height: 30px;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #000;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .input2 {
    height: 100px;
    width: 400px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #000;
  }
  
  .request {
    padding: 30px 0 0 0;
  }
  
  .alllink {
    display: block;
    text-align: center;
  }
  
  .button6 {
    width: 150px;
    height: 40px;
    background-color: #fdd100;
    color: #000;
    border: unset;
    border-radius: 5px;
    margin: 30px 0 0 45%;
    padding: 12px;
    font-weight: 600;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .button6:hover {
    background-color: #000;
    color: #e1f3fd;
  }
  
  .black {
    background-color: #2f2f30;
    margin-top: 50px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .bottom {
    color: #fff;
    margin-top: 15px;
    font-weight: 600;
  }
  
  .mail {
    width: 210px;
    height: 40px;
    padding: 10px;
  }
  
  .yellow {
    width: 150px;
    height: 40px;
    background-color: #fdd100;
    color: #000;
    border: unset;
    border-radius: 5px;
    font-weight: 600;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .yellow:hover {
    background-color: #000;
    color: #fff;
  }
  
  .news {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .tent {
    margin-top: 50px;
  }
  
  .map {
    height: 300px;
  }
  
  .mtop {
    margin-top: 40px;
  }
  
  .dot {
    color: #fff;
    font-size: 20px;
  }
  
  .lastb {
    background-color: #2f2f30;
    text-align: center;
    height: 60px;
  }
  
  .dot2 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .bars {
    display: none;
  }
  
  .close {
    display: none;
  }
  
  .back-to-top {
    position: absolute;
    font-size: 40px;
    color: #fff;
    background-color: #fdd100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 680px;
    z-index: 100;
  }
  
  @media screen and (max-width: 900px) {
    .maincontainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 800px) {
    .maincontainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .navlinks li {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 700px) {
    .navlinks li {
      display: block;
      text-align: center;
      margin: auto;
      margin-top: 20px;
    }
    .search {
      display: none;
    }
    .navlinks li a {
      color: #fff;
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      font-size: 20px;
    }
    .navlinks {
      display: none;
      background-color: black;
      margin: 10px;
      width: 100%;
      height: 60vh;
      position: absolute;
      z-index: 1000;
      color: #fff;
      top: 0;
      left: 0;
      -webkit-transition: 1s;
      transition: 1s;
    }
    .close {
      display: none;
      color: #fff;
      font-size: 30px;
      position: absolute;
      z-index: 2000;
      margin: 10px;
      cursor: pointer;
      margin-left: 510px;
    }
    .bars {
      display: block;
      margin: 20px;
      font-size: 30px;
      cursor: pointer;
    }
    .textimg {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(360px, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      gap: 40px;
    }
    .carimg {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
    }
    .btn a {
      margin-bottom: 20px;
    }
    .serv {
      margin-top: 7rem;
    }
    .ban {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .engineers {
      margin-top: 20px;
      padding: 30px;
    }
    .allimgtxt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .blue {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    alllink {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .black {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .maincontainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .general-container {
      margin: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  @media screen and (max-width: 360px) {
    .lastb {
      display: block;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
      margin-top: 30px;
    }
    .input,
    .input2 {
      width: 300px;
    }
    .yellow,
    .mail {
      margin: 10px;
    }
    .search {
      display: none;
    }
    .button1 {
      font-size: 10px;
    }
    .carimg {
      margin-top: 40px;
      width: 300px;
      height: 250px;
    }
    .flexer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .circle,
    .contact,
    .news {
      margin-left: 10px;
    }
    .btn a {
      background-color: #fdd100;
      color: #000;
    }
  }
  .one {
    margin-left: 550px;
    margin-top: 20px;
    font-size: larger;
  }
  /*# sourceMappingURL=style.css.map */